version: '3.8'

services:
  app:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - .:/app
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: assessment_dw
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      PYTHONPATH: /app
    depends_on:
      postgres:
        condition: service_healthy
    command: tail -f /dev/null

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: assessment_dw
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./case_online_retail/sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d assessment_dw"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  airflow-init:
    image: apache/airflow:2.7.1
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:admin@postgres:5432/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    depends_on:
      - postgres
    command: >
      bash -c "airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"

  airflow-webserver:
    image: apache/airflow:2.7.1
    restart: always
    depends_on:
      - postgres
      - airflow-init
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:admin@postgres:5432/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    ports:
      - "8080:8080"
    volumes:
      - ./case_online_retail/dags:/opt/airflow/dags
      - ./case_online_retail/src:/opt/airflow/src
      - ./common:/opt/airflow/common
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.7.1
    restart: always
    depends_on:
      - postgres
      - airflow-init
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:admin@postgres:5432/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    volumes:
      - ./case_online_retail/dags:/opt/airflow/dags
      - ./case_online_retail/src:/opt/airflow/src
      - ./common:/opt/airflow/common
    command: scheduler

volumes:
  postgres_data:
